<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Mozart project</title>
    <link rel="stylesheet" href="style.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"  >
    </head>
<body>
    <section class="header">
     <nav>
        <a href="home.html"><img src="logo.jpg"></a> 
             <div class = "nav-links">
                 <ul>
                    <li ><a href="">HOME</a></li>
                    <li ><a href="./Feed"> FEED</a></li>
                    <li ><a href=""> SIGN IN</a></li>
                    <li ><a href="./SignUp.html">SIGN UP</a></li>
                </ul>
             </div>

             <div class="about">
                <h2>About Us</h2>
                <p></p>
             </div>
       
     </nav>
</body>
</html>